
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Dashboard - Home{% endblock %}

{% block content %}
<div class="card mt-4">
    <div class="card-body">
        <div class="center_header">
            <h3>Start the Experiment</h3>
        </div>
        <section>
            <article>
                <!-- Combine the two forms into one form -->
                <form method="post" id="combinedForm">
                    {% csrf_token %}
                    <div class="row">
                        <!-- Game Start Form -->
                        <div class="col-md-6">
                            <h4>Start Game</h4>
                            {{ form|crispy }}
                        </div>
                        <!-- Game Configuration Form (hidden initially) -->
                        <div class="col-md-6" id="gameConfigFormContainer" style="display: none;">
                            <!-- Render the gameConfigForm here -->
                            <div id="gameConfigForm">
                            <!-- The configuration form content will be dynamically inserted here -->
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit All</button>
                </form>
            </article>
        </section>
    </div>
</div>
{% endblock %}